---
import Timeline from "../components/Timeline.astro";
import MainLayout from "../layouts/MainLayout.astro";

const TIMELINE_EVENTS = [
    {
        "date": "Sept - Nov 2022",
        "title": "RadicalX Virtual Internship",
        "description": "I signed up for the RadicalX Virtual Internship program. I was accepted and started the program in September 2022, and recieved a certificate as of Nov 14th.",
    },
    {
        "date": "Oct 2020 - Present",
        "title": "Enrolled in Computer Science at the GIU",
        "description": "I am currently enrolled in the Computer Science program at the GIU with a major in Software engineering and a minor in Data Science. I am currently in my third year of the program."
    },
    {
        "date": "2010-2020",
        "title": "Studied at and graduated from ELS (Egyptian Language School - British Section)",
        "description": "I studied at ELS for 10 years and graduated from the British section in late 2020 (it was postponed due to COVID-19). I studied the British curriculum and took the IGCSE exams in 2020."
    },
    {
        "date":"Jul 1, 2002",
        "title": "My Birthday 🎂",
        "description": "I was born in Cairo, Egypt on July 1st 2002. I lived briefly in Um Al Quwain, UAE during my kindergarten years before moving back to Cairo, Egypt."
    }
]
---

<MainLayout title={"About Me"}>
    <h1 class="flex text-6xl text-center justify-center font-bold">About Me</h1>
    <p
        class="flex text-xl text-center p-10 text-blue-secondary dark:text-blue-300"
    >
        I’m currently majoring in Software Engineering with a minor in Data
        Science. When I was very young, like way back when, I had my first PC
        computer with Windows XP. You could this when my fascination with
        technology and computers began. It is no surprise that I would enroll in
        Computer Science over a decade later. My dream is to move to the USA to
        work for Microsoft.
    </p>
    <Timeline events={TIMELINE_EVENTS} />
</MainLayout>
