---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<nav class="hidden md:flex md:justify-center">
		<ul class="flex space-x-16 p-8 text-xl">
			<a href="/"><li>Home</li></a>
			<a href="/socials"><li>Socials</li></a>
			<a href="/projects"><li>Projects</li></a>
			<a href="/what-i-use"><li>Technologies</li></a>
			<button class="bg-blue-secondary rounded-lg text-white text-base w-[137px] h-[37px]">Surprise Me!</button>
		</ul>
	</nav>
	<h1 class="flex justify-center text-center mt-8">
		MONSTAJOE welcomes you to his <br/>ASTRO-nomical🚀 portfolio
	</h1>
	<h3 class="flex justify-center text-center text-2xl font-medium">
		Real name: Youssef El-Shehaby
	</h3>
	
</Layout>

<style>
	
</style>
