---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<nav>
		<ul class="flex justify-center space-x-16 p-8 text-xl">
			<a href="/"><li>Home</li></a>
			<a href="/socials"><li>Socials</li></a>
			<a href="/projects"><li>Projects</li></a>
			<a href="/what-i-use"><li>Technologies</li></a>
		</ul>
		<!-- <button class="flex bg-[#1A68DD] p-2 rounded-lg text-white text-base">Surprise Me!</button> -->
	</nav>
</Layout>

<style>
	
</style>
