---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	
	<!-- title  -->
	<h1 class="flex justify-center text-center mt-8 font-semibold text-6xl mb-4">
		MONSTAJOE welcomes you to his <br />ASTRO-nomical🚀 portfolio
	</h1>
	<!-- real name -->
	<h2 class="flex justify-center text-center text-2xl font-medium mb-8">
		Real name: Youssef El-Shehaby
	</h2>
	<!-- curent title -->
	<h3 class="flex justify-center text-center text-xl">
		Computer Science Student at the German International University of
		Applied Sciences<br />(GIUAS)
	</h3>
	<!-- biopic -->
	<p class="flex justify-center text-xl text-center p-10 text-blue-secondary">
		I’m currently majoring in Software Engineering with a minor in Data
		Science. When I was very young, like way back when, I had my first PC
		computer with Windows XP. You could this when my fascination with
		technology and computers began. It is no surprise that I would enroll in
		Computer Science over a decade later. My dream is to move to the USA to
		work for Microsoft.
	</p>
</Layout>

<style></style>
