---
import ProjectCard from "../components/ProjectCard.astro";
import projects from '../../data/topProjects.json'
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout>
    <h1 class="flex justify-center text-center text-6xl font-bold mt-1 mb-4">My Top Projects</h1>
    <h2 class="text-2xl text-center">Click on any project to visit the GitHub page</h2>
    <div class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-16 self-center mt-8">
        {projects.map((project) => (
        <ProjectCard {...project} />
    ))}
    </div>
</ProjectLayout>