---
import Suprise from "../components/Suprise";
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Circle.io</title>
    </head>
    <body>
        <Navbar />
        <Suprise client:load />
    </body>
</html>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

    body {
        font-family: "Inter", sans-serif;
        background-color: #000;
        color: #fff;
    }
</style>
