---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Tech + Dev Stack"}>
    <h1 class="flex justify-center text-center text-6xl font-bold mt-1 mb-4">
        My Tech & Dev Stack
    </h1>
    <div class="flex justify-center text-center text-2xl font-medium mt-1 mb-12">
        Here's a list of the tools I use to build my projects, along with some
        of my favorite software.
    </div>
    <div class="flex text-2xl font-medium justify-center mt-1 mb-4">
        <p>Code Editor:</p>
    </div>
</Layout>
