---
import "../styles/globals.css";
---

<footer class="bg-blue-primary dark:bg-blue-900 footer text-blue-200 space-x-4 justify-center grid sm:flex">
    <div class="space-x-2">
        <i class="bi bi-twitter" style="font-size: 1.5em;"></i><a
            href="https://twitter.com/monstajoedev">@monstajoedev</a
        >
    </div>
    <div class="space-x-2">
        <i class="bi bi-instagram" style="font-size: 1.5em;"></i><a
            href="http://instagram.com/iammonstajoe">@iammonstajoe</a
        >
    </div>
    <div class="space-x-2">
        <i class="bi bi-tiktok" style="font-size: 1.5em;"></i><a
            href="http://tiktok.com/monstajoe">@monstajoe</a
        >
    </div>
</footer>
<style>
    .footer {
        padding: 2rem;
        bottom: 0%;
        width: 100%;
        position: fixed;
    }
    @media (768px<width<=1024px) {
        .footer {
            position: fixed;
        }
    }
</style>
