
<footer class="py-5 text-center mt-auto">
    <div class="mb-4">
        Follow me:
    </div>
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <div class="flex flex-wrap justify-center gap-2">
                <a
                    href="https://twitter.com/monstajoedev"
                    class="dark:bg-blue-primary bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded-full"
                    ><i class="bi bi-twitter"></i>
                </a><a
                    href="https://www.linkedin.com/in/youssef-el-shehaby-2ba3a1245/"
                    class="dark:bg-blue-primary bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded-full"
                    ><i class="bi bi-linkedin"></i>
                </a><a
                    href="https://www.tiktok.com/@monstajoe"
                    class="dark:bg-blue-primary bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded-full"
                    ><i class="bi bi-tiktok"></i>
                </a><a
                    href="https://github.com/monstajoe2002"
                    class="dark:bg-blue-primary bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded-full"
                    ><i class="bi bi-github"></i>
                </a>
                <a href="http://instagram.com/iammonstajoe"
                class="dark:bg-blue-primary bg-blue-600 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded-full"
                >
                <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
