---
import "../styles/globals.css";
---

<footer class="bg-blue-secondary dark:bg-blue-900">
    <div
        class="container flex flex-col-reverse justify-center px-6 py-10 space-y-8"
    >
        <div class="flex flex-col items-center justify-center space-y-4 mx-auto">
           
        </div>
    </div>
</footer>
