---

---
<nav class="hidden md:flex md:justify-center sticky backdrop-blur-md top-0">
		<ul class="flex space-x-16 p-8 text-xl">
			<a
				class="hover:text-blue-800 hover:transition-colors duration-300"
				href="/"
				><li>Home</li>
			</a>
			
			<a
				class="hover:text-blue-800 hover:transition-colors duration-300"
				href="/projects"
				><li>Projects</li>
			</a>
			<a
				class="hover:text-blue-800 hover:transition-colors duration-300"
				href="/what-i-use"
				><li>Technologies</li>
			</a>
			<button
				class="bg-blue-secondary rounded-lg text-white text-base w-[137px] h-[37px] hover:duration-500 hover:scale-110 hover:bg-blue-800 hover:drop-shadow-lg duration-500"
				>Surprise Me!</button
			>
		</ul>
	</nav>