---
---

<nav
  class="hidden md:flex md:justify-center sticky backdrop-blur-lg top-0 w-full z-0">
  <ul class="flex space-x-16 p-8 text-xl">
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/">
      <li>Home</li>
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/about">
      About
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/projects">
      <li>Projects</li>
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/tech-and-tools">
      <li>What I use</li>
    </a>
  </ul>
</nav>
<script>
  const menu = document.querySelector(".fa-bars");
  const items = document.getElementById("menuItems");
  menu.addEventListener("click", () => {
    items.classList.toggle("grid");
    menu.classList.toggle("fa-xmark")
      ? items.classList.remove("hidden")
      : items.classList.add("hidden");
  });
</script>
<!-- Responsive hamburger menu -->
<div class="md:hidden p-10 ">
  <i class="fa-solid fa-bars text-2xl hover:cursor-pointer"></i>
  <ul
    id="menuItems"
    class="hidden space-y-10 p-8 text-xl justify-center text-center">
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/">
      <li>Home</li>
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/about">
      About
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/projects">
      <li>Projects</li>
    </a>
    <a
      class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
      href="/tech-and-tools">
      <li>What I use</li>
    </a>
  </ul>
</div>
