---
---

<nav class="hidden md:flex md:justify-center sticky backdrop-blur-md top-0">
	<ul class="flex space-x-16 p-8 text-xl">
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/"
			><li>Home</li>
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/about"
		>
			About
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/projects"
			><li>Projects</li>
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/tech-and-tools"
			><li>What I use</li>
		</a>
		<a
			href="/surprise-me"
			class=" text-blue-400 hover:text-blue-600 font-semibold hover:duration-500 hover:scale-110 hover:drop-shadow-lg duration-500  dark:text-blue-300 dark:hover:text-blue-100"
			>Surprise Me!</a
		>
	</ul>
</nav>
<script>
	const menu = document.querySelector(".bi-list");
	const items = document.getElementById("menuItems");
	menu.addEventListener("click", () => {
		items.classList.toggle("grid");
		menu.classList.toggle("bi-x")
			? items.classList.remove("hidden")
			: items.classList.add("hidden");
	});
</script>
<div class="md:hidden p-8">
	<i class="bi bi-list" style="font-size: 2em;"></i>
	<ul
		id="menuItems"
		class="hidden space-y-10 p-8 text-xl justify-center text-center"
	>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/"
			><li>Home</li>
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/about"
		>
			About
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/projects"
			><li>Projects</li>
		</a>
		<a
			class="hover:text-blue-800 dark:hover:text-white hover:transition-colors duration-300"
			href="/tech-and-tools"
			><li>What I use</li>
		</a>
		<a
			href="/surprise-me"
			class=" text-blue-400 hover:text-blue-600 font-semibold hover:duration-500 hover:scale-110 hover:drop-shadow-lg duration-500  dark:text-blue-300 dark:hover:text-blue-100"
			>Surprise Me!</a
		>
	</ul>
</div>
