---
const { title, description, tech, url } = Astro.props;
---

<a href={url}>
    <div
        class="relative max-w-xs shadow-lg dark:from-blue-primary dark:to-blue-500 from-blue-400 to-blue-300 p-6 rounded-md bg-gradient-to-r h-96 hover-action "
    >
        <h1 class="text-2xl font-bold text-blue-100 mb-4">{title}</h1>
        <p class="text-md text-light-blue pb-4">{description}</p>
        <div class="mb-6 text-light-blue">
            Built using:
            {
                tech.map((t) => {
                    return <p class="text-blue-200 text-md">- {t}</p>;
                })
            }
        </div>
    </div>
</a>
<style>
    .hover-action:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
    .hover-action{
        transition: all 0.3s ease-in-out;
    }
    
</style>