---
const { title, description, technologies, url } = Astro.props;
---

<div
    class="relative max-w-xs shadow-md dark:from-blue-primary from-blue-300 to-blue-primary p-6 rounded-md bg-gradient-to-tr"
>
    <h1 class="text-2xl font-bold text-light-blue">{title}</h1>
    <p class="text-lg text-light-blue pb-4">{description}</p>
    <p class="text-sm ">{technologies}</p>
    <a class="text-blue-800 underline text-sm absolute bottom-0 pb-4" href={url}>Click here</a
    >
</div>
