---
const { events } = Astro.props;
---

<ol
    class="relative border-l border-blue-primary mx-[30rem] max-xl:mx-20 justify-center"
>
    {
        events.map((event) => (
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-blue-secondary rounded-full mt-1.5 -left-1.5 border border-white " />
                <time class="mb-1 text-sm font-normal leading-none text-blue-primary dark:text-blue-400">
                    {event.date}
                </time>
                <h3 class="text-lg font-semibold text-blue-secondary dark:text-blue-200 ">
                    {event.title}
                </h3>
                <p class="mb-4 text-base font-normal text-blue-400 dark:text-blue-300 ">
                    {event.description}
                </p>
            </li>
        ))
    }
</ol>
