---
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <div class="fade-in"><slot /></div>
    </body>
</html>
<style>
    .fade-in {
        animation: fadeIn 0.7s ease-in;
    }
    @keyframes fadeIn {
        0% {
            margin-top: 1rem;
            opacity: 0;
        }
        100% {
            margin-top: 0;
            opacity: 1;
        }
    }
</style>
