---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects</title>
  </head>
  <body class="flex flex-col -z-10">
    <Navbar />
    <div
      class="transition-all duration-700 animate-fade max-w-6xl flex flex-col self-center mx-6">
      <slot />
    </div>
    <Footer />
  </body>
</html>
